* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --light-green: #4caf50;
  --darkish-green: #3e8e41;
  --green: #2ecc71;
  --white: #fff;
  --black: #000;
  --hue: #e0f0df;
  --grren: #537450;
  --green2: #057c05;
  --blue: #5e5bff;
  --red: #e74c3c;
  --eee: #e0d9d9;
}
body {
  /* background-color: var(--hue); */
  background-color: var(--eee);
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* Left profile styles */
.left-profile {
  width: 20%;
  padding: 20px;
  background-color: var(--grren);
}
.back-arrow {
  margin-right: auto;
  color: var(--white);
}
.back-arrow i {
  font-size: 24px;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.left-profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left-profile li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

.left-profile li a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.left-profile li i {
  font-size: 18px;
  color: var(--white);
}

.left-profile li:hover,
.left-profile li:focus,
.left-profile li.active {
  background-color: var(--darkish-green);
}

/* Right content styles */
.right-content {
  width: 80%;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--eee); */
  /* padding: 20px; */
  border-bottom: 2px solid var(--black);
  margin-bottom: 20px;
}

.logo img {
  width: auto;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}
.logo h3 span {
  font-weight: bold;
}
